.container{
    height: 10vh;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    .input {
        padding: 10px;
        border-radius: 2px;
        align-self: flex-start;
        justify-self: flex-start;
        outline: none;
        background-color: transparent;
        border: 2px solid var(--accent-primary-color);
        color: #DDD;
        font-weight: 700;
        font-size: 1.5rem;
        margin-inline: 10px;
        &:focus {
            border-color: var(--accent-secondary-color);
            box-shadow: 0 0 3px var(--accent-secondary-color);
        }
    }
}
