.mainContainer {
    width: 100%;
    background-color: var(--bg-primary-color);
    .container {
        background-color: var(--bg-primary-color);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        p { 
            margin: 0;
        }
    }
}
