@import "../../../styles/mixins";

@include for-mobile {
    .container {
        padding-block: 20px 0;
        .text {
            font-size: 18px !important;
            min-width: 100%;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .text {
        color: var(--text-color);
        font-weight: 600;
        margin: 0;
        font-size: 28px;
    }
}