@import "../../../styles/mixins";

.mainContainer {
    display: flex;
    height: 60vh;
    .textContainer {
        padding-inline: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }
}

@include for-mobile{
    .mainContainer{
        flex-direction: column;
    }
}