@import "../../../styles/mixins";

$not-collapsed-width-desktop: 30vw;
$not-collapsed-width-mobile: 80vw;

.collapsed, .notCollapsed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding-block: 5vh;
    background-color: var(--bg-alternative-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.cover {
    position: fixed;
    height: 100%;
    z-index: 2;
    width: calc(100vw - $not-collapsed-width-desktop);
    left: $not-collapsed-width-desktop;
}

@include for-mobile {
    .cover {
        left: $not-collapsed-width-mobile !important;
        width: calc(100vw - $not-collapsed-width-mobile);
    }
}