$sidebar-width: 50vw;

@mixin sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding-block: 5vh;
    background-color: var(--bg-alternative-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.collapsed {
    @include sidebar;
    width: 8vw;
}

.notCollapsed {
    @include sidebar;
}

.cover {
    position: fixed;
    height: 100%;
    z-index: 2;
}