$size: 45px;

.collapseButton {
    border-radius: 100%;
    background-color: transparent;
    width: $size;
    height: $size;
    color: var(--text-color);
    align-self: center;
    border: 0;
    outline: none;
    &:hover {
        cursor: pointer;
        color: var(--accent-primary-color);
    }
}