@import "../../../styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    height: 100%;
    .img {
        max-width: 100%;
        object-fit: scale-down;
        justify-self: flex-start;
        align-self: flex-start;
        border-radius: 15px 15px 0 0;
    }
    .secondaryContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0 10px 10px;
        min-height: 100%;
        .title {
            height: 7%;
            margin: 1.5% 0;
            color: #DDD;
        }
        .description {
            height: 130px;
            max-width: 30vw;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #DDD;
                border-radius: 5px;
            }
        }
        .iconsContainer {
            display: flex;
            padding-top: 5px;
            gap: 10px;
            .icon {
                cursor: pointer;
            }
        }
        .technology {
            display: flex;
            padding-block: 10px;
            font-style: italic;
            font-weight: 600;
            color: #DDD;
            height: 50px;
        }
    }
}

@include for-mobile {
    .description {
        min-width: 100%;
        padding-right: 10px;
    }
}