.listItem {
    .link {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        font-size: 1.4rem;
        &:hover{
            color: var(--accent-primary-color)
        }
    }
}