html,
body {
  min-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  --bg-primary-color: #293039;
  --bg-alternative-color: #3A3E43;
  --text-color: #C3EDEF;
  --text-alternative-color: #CCCCFF;
  --accent-primary-color: #63E2EB;
  --accent-secondary-color: #00C2CB;
  --input-width: 600px;
  --card-height: 80vh;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}