.mainContainer {
    width: 100%;
    background-color: var(--bg-primary-color);
    .container {
        width: 100%;
        background-color: var(--bg-primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 30px;
    }
}
